@media (max-width: 900px){
    #page-home{
        background-position: 70vw;
    }
}
/* media cury = regras de responsividade*/
@media (min-width: 1700px){ /*eicho X largura*/
        #page-home {
            background-position: 50vw;
        }   
}

@media (max-height: 1700px){ /*eicho y altura*/
    #page-home {
        background-position-y: 200px;
    }   
}



@media (max-height: 760px){/*eicho Y altura*/
        #page-home {
            background-position-y: 200px;
        }
}
