body {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	color: #999694;
    background-color:#282A36;
	padding: 5%;
	max-width: 100%;
	
}


h1 {
	border-top: 3px solid #04d362;
	border-radius: 10px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

h1 {
	border-bottom: 3px solid #04d362;
	border-top: 3px solid #04d362;
	background-color: #282A36;
	color: rgb(238, 237, 237);
	padding: 5px;
	max-width:100%;
}

h2 {
	color: whitesmoke;
	border-top: 3px solid #04d362;
	border-bottom: 3px solid #04d362;
	background-color: #282A36;
	padding-left: 5px;
	padding: 0px 0px 3px 0px;
	margin: 0 -10px 0 -40px;
	font-weight: normal;
	text-align: center;
	
}

h5 {
	border-top: 3px solid #04d362;
	border-bottom: 3px solid #04d362;
	border-radius: 10px;
	background-color: #282A36;
	color: whitesmoke;
	padding: 10px;
	text-align: center;
	font-size: 19px;
	margin-top: 20px;

	transition: 0.3s;
}
h5:hover {
	color: #fff;
}
.page-home{
	margin-bottom: 100px;
}
.secao 
{
	background-color: rgb(81, 83, 90);
	padding-left: 15px;
	border-radius: 15px;
	margin-bottom: 33px;
	
}

label {
	font-weight: bold;
	margin-right: 10px;
	
}

label:after {
	content: ":";
}

a {
	text-decoration:none;
	color: #999694;
}

a:visited {
	text-decoration:none;
	color: #999694;
}

a:hover {
	text-decoration:none;
	color: #04d362;
}

#menu {
	margin: 0;
}

#menu ul, #menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #04d362;
}

#menu .ativo {
	background-color: #04d362;
}

.vcard {
	padding: 10px;
	color: #adacac;
}

.url, .email {
	display: block;
}

.photoRalf {
	max-width: 170px;
	float:left;
    margin-top: 0%;
	margin-right: 3%;
    border-radius:10%;
}

.Dart{
	max-width: 90px;
	padding-bottom: 30px;
}
.photocsharp {
	max-width: 53px;
	margin-right: 1%;
	margin:0px 0px 0px 15px;
	padding-bottom: 1%;
}

.photojs {
	max-width: 50px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1%;
}

.photohtml {
	max-width: 55px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1%;
}

.photocss {
	max-width: 54.5px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1%;
}

.photosql {
	max-width: 54px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1%;
}

.photogit {
	max-width: 56px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1%;
}

.photonet {
	max-width: 65px;
	margin-right: 2.5%;
	margin-left: 2.5%;
	padding-bottom: 1%;
}

.photoc {
	
	max-width: 65px;
	padding-bottom: 1%;
}

.photoReact {
	max-width: 58px;
	margin-right: 1%;
	margin-left: 2.5%;
	padding-bottom: 1.2%;
}

.photoNode {
	max-width: 58px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1.2%;
}

.photoSass {
	max-width: 58px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1.5%;
}

.photoTypescript {
	max-width: 58px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1.2%;
}

.photoJquery {
	max-width: 58px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1.15%;
}

.photoES6{
	max-width: 65px;
	margin-right: 1%;
	margin-left: 2%;
	padding-bottom: 1%;
}

.Angular {
	max-width: 105px;
	padding-bottom: 5px ;
}

.photoemail {

	max-width: 25px;
	margin-top: 1%;
	margin-right: 1%;
	margin-left: 2%;
}

.photowhatsapp {

	max-width: 25px;
	margin-top: 2%;
	margin-right: 1%;
	margin-left: 2%;
}

.photolinkedin {

	max-width: 18px;
	margin-top: 1%;
	margin-right: 1%;
	margin-left: 2%;
}
.skills {
	
}

.links {
	text-align: center;
}

@media screen and (max-width: 380px) {
	body
	{
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		color: gray;
    	background-color:#282A36;
		padding: 5%;
		max-width: 100%;		
	}
	

	.secao
	{
		
		padding: 70px;
		width: 100%;
		padding-left: 8px;
		background-color:#282A36;
		padding: 5%;
	}

	.page-home
	{
		min-width: 320px;
		width: 120%;
	}

	h1
	{
		text-align: center;
		border-top: 3px solid #04d362;
		padding-right:inherit;
		width:130%;
	}

	h2
	{
		text-align: center;
		border-top: 3px solid #04d362;
		padding-right:inherit;
		width: 122%;
		color:gray
 
	}

	h5
   {
	font-size: 15px;  
	text-align: center;
	border-top: 3px solid #04d362;
	width: 126.5%;
	padding-right:inherit;
   }

   h3 
   {
	   text-align:start;
	   color: gray;
   }

   
   .vcard 
   {
	text-align:justify;
	padding: 10px;
	
   }

}


@media screen and (max-width: 379px) {
	

	body {
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		color: rgb(238, 237, 237);
		background-color:#282A36;
		padding: 5%;
		max-width: 90%;
	}
	.nomeInicio {
		font-style:#282A36;;
	}
	
	
	h1 {
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-size: 15px;
		text-align: center;
		border-bottom: 3px solid #04d362;
		border-top: 3px solid #04d362;
		background-color: #282A36;;
		color: whitesmoke;
		max-width: 88%;
		
	}
	
	h2 {
		
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-size: 15px;
		color: rgb(238, 237, 237);
		text-align: left;
		padding-left: 5px;
		border-bottom:unset;
		border-top: none;
		background-color: #383A59;
	}

	h3 {
		color: rgb(238, 237, 237);
		font-size: 16px;
		text-align: justify;
	}

	h4 {
		font-size: 10px;
	}
	
	h5 {
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-size: 10px;
		text-align: center;
		border-bottom: 3px solid #04d362;
		border-top: 3px solid #04d362;
		background-color: #282A36;;
		color: whitesmoke;
		max-width: 86%;
	}
	p {
		font-size: 8px;
	}
	
	.secao 
	{
		max-width: 80%;
		background-color: #383A59;
		padding-left: 15px;
	}
	
	label {
		font-weight: bold;
		margin-right: 10px;
		
	}
	
	label:after {
		content: ":";
	}
	
	a {
		text-decoration:none;
		color: #74CAD0;
	}
	
	a:visited {
		text-decoration:none;
		color: #74CAD0;
	}
	
	a:hover {
		text-decoration:none;
		color: #04d362;
	}
	
	#menu {
		margin: 0;
	}
	
	#menu ul, #menu li {
		display: inline;
		list-style-type: none;
		margin: 0;
		padding: 0;
		color: #04d362;
	}
	
	#menu .ativo {
		background-color: #04d362;
	}
	
	.vcard {
		padding: 10px;
	}
	
	.url, .email {
		display: block;
	}
	
	.photoRalf {
		max-width: 170px;
		float:inherit;
		margin: 15px;
		margin-left: 57px;
		
		
	}
	
	.photocsharp {
		max-width: 40px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photojs {
		max-width: 43px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photohtml {
		max-width: 43px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photocss {
		max-width: 45.7px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photosql {
		max-width: 40px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photogit {
		max-width: 40px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photonet {
		max-width: 48px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photoc {
		
		max-width: 52px;
		padding-bottom: 1%;
	}
	
	.photoReact {
		max-width: 48px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photoNode {
		max-width: 48px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photoSass {
		max-width: 48px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photoTypescript {
		max-width: 48px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photoJquery {
		max-width: 48px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photoES6{
		max-width: 48px;
		margin-right: 1%;
		margin-left: 2%;
		padding-bottom: 1%;
	}
	
	.photoemail {
	
		max-width: 25px;
		margin-top: 1%;
		margin-right: 1%;
		margin-left: 2%;
	}
	
	.photowhatsapp {
	
		max-width: 25px;
		margin-top: 2%;
		margin-right: 1%;
		margin-left: 2%;
	}
	
	.photolinkedin {
	
		max-width: 18px;
		margin-top: 1%;
		margin-right: 1%;
		margin-left: 2%;
	}
	
	.links {
		text-align: center;
	}
}
